<p id="notice"><%= notice %></p>

<p>
  <b>Nome da categoria:</b>
  <%= @categoria_do_pagamento.nome_da_categoria %>
</p>


<%= link_to 'Edit', edit_categoria_do_pagamento_path(@categoria_do_pagamento) %> |
<%= link_to 'Back', categoria_do_pagamentos_path %>
