<br />

<h1>Meu Perfil</h1>
<p>
  <b>Nome:</b>
  <%= @user.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<br />
<%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Apagar minha conta', @user, :confirm => "Você tem certeza?", :method => :delete  %> 
