<% content_for :menu do %>

<% end %>

<% content_for :tabela do %>

<div class="block"> 


	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>

<h2>Meu Perfil</h2>
</div>	
	
	<div class="block_content">
	
<table cellpadding="0" cellspacing="0" width="100%" class="sortable">
	<tr>
	 <th>Nome:</th>
	 <th>Email:</th>
	</tr>

	<tr>
	 <td><%= @user.nome %></td>
	 <td><%= @user.email %></td>
	</tr>

</table>

		<div class="tableactions">
			<%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Apagar minha conta', @user, :confirm => "Você tem certeza?", :method => :delete  %> 
		</div>

		<div class="pagination right">

		</div>

	</div>

	<div class="bendl"></div>
	<div class="bendr"></div>	
	
</div>

<% end %> 
