<p id="notice"><%= notice %></p>

<p>
  <b>Nome da categoria:</b>
  <%= @payament_category.nome_da_categoria %>
</p>


<%= link_to 'Edit', edit_payament_category_path(@payament_category) %> |
<%= link_to 'Back', payament_categories_path %>
